---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

.scrollToTop {
  background: url("/img/bottom-top-arrow.png") no-repeat scroll 13px 12px #ffffff;
  border: 3px solid #f0f1f3;
  border-radius: 5px;
  bottom: 20px;
  display: inline-block;
  height: 54px;
  opacity: 0;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 54px;
  z-index: 100;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  &:hover {
    background-position: 13px -50px;
    text-decoration: none;
    outline: none;
  }
}
.scrollToTop:hover{
  background-color: #78ADC9;
}


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout"
;
