<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">About the Leading Change Institute</h2>
                <p>The Leading Change Institute,
                    <a href="/history/">successor to the Frye Leadership Institute</a>, engages leaders who seek to further develop their skills for the benefit of higher education. Higher education requires leaders, particularly in the information sector,
                    who can inspire, advocate, and advance needed change.</p>
            </div>
        </div>
    </div>
</section>
