<div class="single_sidebar">
  <h2>Links</h2>

  <ul>
    <li>
      <a href="/institutes/2016.html#agenda">2016 Agenda</a>
    </li>
    <li>
      <a href="/institutes/2016.html#lodging">2016 Lodging</a>
    </li>
    <li>
      <a href="/institutes/2016#dress-code">Dress Code</a>
    </li>
    <li>
      <a href="/application/">Application</a>
    </li>
    <li>
      <a href="/costs/">Application</a>
    </li>
    <li>
      <a href="/agenda/#invoicing">Invoicing</a>
    </li>
    <li>
      <a href="/fellows/chats">Post-Institute Chats</a>
    </li>
    <li>
      <a href="/fellows/chats/#listserv">Alumni Listserv</a>
    </li>
  </ul>
</div>
