<div class="single_sidebar">
  <h2>Sidebar Header</h2>

  <ul>
    <li>
      <a href="/agenda/">2016 Agenda</a>
    </li>
    <li>
      <a href="/agenda/#lodging">2016 Lodging</a>
    </li>
    <li>
      <a href="/agenda/#dress-code">Dress Code</a>
    </li>
    <li>
      <a href="/application/">Application</a>
    </li>
    <li>
      <a href="/costs/">Application</a>
    </li>
    <li>
      <a href="/agenda/#invoicing">Invoicing</a>
    </li>
    <li>
      <a href="/fellows/chats">Post-Institute Chats</a>
    </li>
    <li>
      <a href="/fellows/chats/#listserv">Alumni Listserv</a>
    </li>
  </ul>
</div>
