<section id="slider">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="slider_area">
                <!-- Start super slider -->
                <div id="slides">
                    <ul class="slides-container">
                        <li>
                            <img src="img/slider/IMG_0013.jpg" alt="img">
                            <div class="slider_caption">
                                <h2>Slider 1 Heading</h2>
                                <p>Some kind of description.</p>
                                <a class="slider_btn" href="#">Learn More</a>
                            </div>
                        </li>
                        <!-- Start single slider-->
                        <li>
                            <img src="img/slider/Auel_130605_6828-2.jpg" alt="img">
                            <div class="slider_caption slider_right_caption">
                                <h2>Slider 2 Heading</h2>
                                <p>Some kind of description.</p>
                                <a class="slider_btn" href="#">Learn More</a>
                            </div>
                        </li>
                        <!-- Start single slider-->
                        <li>
                            <img src="img/slider/IMG_0055.jpg" alt="img">
                            <div class="slider_caption">
                                <h2>Slider 3 Heading</h2>
                                <p>Some kind of description.</p>
                                <a class="slider_btn" href="#">Learn More</a>
                            </div>
                        </li>
                        <!-- Start single slider-->
                        <li>
                            <img src="img/slider/Auel_130605_6647-2.jpg" alt="img">
                            <div class="slider_caption">
                                <h2>Slider 4 Heading</h2>
                                <p>Some kind of description.</p>
                                <a class="slider_btn" href="#">Learn More</a>
                            </div>
                        </li>
                    </ul>
                    <nav class="slides-navigation">
                      <a href="#" class="next">Next</a>
                      <a href="#" class="prev">Previous</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
