/* Coolors Exported Palette - coolors.co/39217c-f03a47-af5b5b-f6f6f6-276fbf */

// $color1: #39217c; //rgba(57, 33, 124, 100)
$color1: #43365c; //rgba(67,54,92,100)
$color2: #f03a47; //rgba(240, 58, 71, 100)
$color3: #af5b5b; //rgba(175, 91, 91, 100)
$color4: #f6f6f6; //rgba(246, 246, 246, 100)
$color5: #276fbf; //rgba(39, 111, 191, 100)

$dark-purple: #443558; //rgba(119,84,167,100)
$purple-accent: #7754a7; //rgba(119,84,167,100)
$purple: #6f509c; //rgba(111,80,156,100)
$light-purple: #a29bcb;
$offwhite: #feffff; //rgba(254,255,255,1.0)
$dark-green: #6baa97; //rgba(107,170,151,100)
$light-green: #7cc0ac; //rgba(124,192,172,100)
$gray: #f4f5f7;

.dark-purple { color: $dark-purple; }
