#studentsTestimonial {
  background-color: #f6f6f6;
  float: left;
  display: inline;
  width: 100%;
  padding: 60px 0px;
}
.studentsTestimonial_content {
  float: left;
  display: inline;
  width: 100%;
}
.single_stsTestimonial {
  float: left;
  display: inline;
  width: 100%;
  text-align: center;
}
.stsTestimonial_msgbox {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  display: inline;
  float: left;
  margin-bottom: 25px;
  padding: 13px;
  width: 100%;
  position: relative;
}
.stsTestimonial_msgbox:after {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  bottom: -15px;
  content: "";
  height: 0;
  left: 46%;
  position: absolute;
  width: 0;
}
.stsTesti_img {
  border: 5px solid #dbe2e9;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.stsTestimonial_content{
  float: left;
  display: inline;
  width: 100%;
}

.stsTestimonial_content > p {
  color: #78adc9;
}
